.content-wrapper {
  grid-area: content;
}

.gallery {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
}

#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: blue;
  transition: 0.3s;
  cursor: pointer;
}
#loadMore:hover {
  color: blue;
  background-color: #fff;
  border: 1px solid blue;
  text-decoration: none;
}
